<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Here is your Bullet Journal Overview</h1>
            <p>The best app to get shit done</p>
            <p>
                <a class="btn btn-primary btn-large" href="/bullet/new">Add a new Bullet</a>
            </p>
        </div>
    </header>
 
    <div class="container" style="display:flex; flex-wrap: wrap;">
        <% bullets.forEach(function(bullet){ %>
            <div class="col-md-4 col-sm-6>">

                            <i class="fa fa-circle pull-left" aria-hidden="true"> <%= bullet.task %></i><br>
                            <i class="fa fa-circle-o pull-left" aria-hidden="true"> <%= bullet.description.substring(0, 20) %>...</i><br>
                            <i class="fa fa-calendar-o pull-left" aria-hidden="true"> Created Date: <%= bullet.createdDate.toDateString() %></i><br>
                            <i class="fa fa-calendar-check-o pull-left" aria-hidden="true"> Due Date: <%= bullet.dueDate.toDateString() %></i><br>
                        <p>
                            <a href="/bullet/<%= bullet._id %>" class="btn btn-xs btn-primary">View Bullet</a>
                            <form style="display:inline" class="delete-form" action="/bullet/<%= bullet._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        </p>
                        

                    
             
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>