<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!--Default panel contents -->
                <div class="panel-heading"><strong><%= bullet.task %></strong>
                    <div class="pull-right">
                        <a class="btn btn-xs btn-success" href="/bullet/<%= bullet._id %>/notes/new">Add New Comment</a>
                    </div>                
                </div>
                <div style="display: inline">
                    <%= bullet.description %>
                    <div class="text-right"><strong>Due Date: <%= bullet.dueDate.toDateString() %></strong></div>
                </div>
             </div>
        </div>
        <!--List group Notes-->
        <div class="col-md-12">
            <ul class="list-group">
                <% bullet.notes.forEach(function(note){ %>
                    <li class="list-group-item">
                        <span><strong><%= note.dateCreated.toDateString() %>:</strong>
                        <%= note.text %>
                        <div class="text-right">
                            <a class="btn btn-xs btn-warning" href="/bullet/<%=bullet._id %>/notes/<%=note._id %>/edit">Edit</a>
                            <form class="delete-form" action="/bullet/<%=bullet._id %>/notes/<%=note._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
        <!-- List group Tasks-->
        <div class="col-md-12">
            <ul class="list-group">
                <% bullet.tasks.forEach(function(task){ %>
                    <li class="list-group-item">
                         <div class="checkbox">
                           <label>
                             <input type="checkbox" class="strikethrough" value="1"><span><%= task.task %></span>
                           </label>
                         </div>
                        <div class="text-right">
                            <a class="btn btn-xs btn-warning" href="/bullet/<%= bullet._id %>/tasks/<%= task._id %>/edit">Edit</a>
                            <form class="delete-form" action="/bullet/<%= bullet._id %>/tasks/<%= task._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <a class="pull-right btn btn-xs btn-info" href="/bullet/">back</a>
</div>            
            
            
            
            
            
            <!--<p class="lead">Bullet Journal</p>-->
            <!--<div class="thumbnail">-->
            <!--    <div class="caption-full">-->
            <!--        <h4><a><%=bullet.task%></a></h4>-->
            <!--        <p><%= bullet.description %></p>-->
            <!--            <a class="btn btn-xs btn-warning" href="/bullet/<%= bullet._id %>/edit">Edit</a>-->
            <!--            <form id="delete-form" action="/bullet/<%= bullet._id %>?_method=DELETE" method="POST">-->
            <!--                <button class="btn btn-xs btn-danger">Delete</button>-->
            <!--            </form>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="well">-->
            <!--    <div class="text-right">-->
            <!--        <a class="btn btn-success" href="/bullet/<%= bullet._id %>/notes/new">Add New Comment</a>-->
            <!--    </div>-->
            <!--    <hr>-->
            <!--    <% bullet.notes.forEach(function(note){ %>-->
            <!--        <div class="row">-->
            <!--            <div class="col-md-12">-->
            <!--                <strong><%= note.author.username %></strong>-->
            <!--                <span class="pull-right"><%= note.dateCreated.toDateString() %></span>-->
            <!--                <p>-->
            <!--                    <%= note.text %> -->
            <!--                </p>-->
            <!--                <a class="btn btn-xs btn-warning" href="/bullet/<%=bullet._id %>/notes/<%=note._id %>/edit">Edit</a>-->
            <!--                <form id="delete-form" action="/bullet/<%=bullet._id %>/notes/<%=note._id %>?_method=DELETE" method="POST">-->
            <!--                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">-->
            <!--                </form>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    <% }) %>-->
            <!--</div>-->


<% include ../partials/footer %>